<div class="comments-container">
  <strong>Comment from <%= comment.commenter %></strong></br>
  <p><%= comment.body %></p>
  <%= link_to [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } do %>
    <i class="material-icons">delete_forever</i>
  <% end %>
  
</div>