<div class="new-container">
    <div class="new-nav-bar">
        <p>edit article</p>
        <%= link_to  articles_path do %>
            <i class="material-icons">undo</i>
        <% end %>
    </div> 
    <%= render 'form' %>
</div>