// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 1%;
    margin-bottom: 2%;
    border: 1px solid black;
}
.container {
    margin: 0 5%;

    .nav-bar {
        @include nav;
    
        a {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: red;
        }
    }   
    table {
        border: 1px solid black;
        width: 100%;
    
        tr {
            display: flex;
            justify-content: space-between;
            border: 1px solid black;
            padding: 2%;
            margin: 2%;
        
            th {
                width: 33%;
            }
            td {
                display: flex;
                justify-content: space-around;
                width: 33%;
            
                i {
                    color: black;
                }
                i:hover {
                    color: red;
                }
            }
        }
    }
}
.new-container  {
    margin: 0 5%;
    .new-nav-bar {
        @include nav;
        a:hover {
            color: red;
        }
    }
}
form {
    border: 1px solid black;
    padding: 2%;
    p {
        display: flex;
        input, textarea {
            width: 85%;
            margin-left: 5%;
        }
        textarea {
            height: 200px;
        }
    }
    .submit-button {
        width: 120px;
        height: 30px;
        margin: 0 auto;
    }
}
.show-container {
    margin: 0 5%;
    .show-nav-bar {
        @include nav;
        div {
            display: flex;
        }
        a:hover {
            color: red;
        }
    }
    .post-container {
        border: 1px solid black;
        padding: 2%;
        margin: 2% 0;
    }
    .comments-container {
        border: 1px solid black;
        padding: 2%;
        margin: 2% 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i {
            text-decoration: none;
            color: black;
        }
        i:hover {
            color: red;
        }
    }
}
            
