// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$apple-red: #D90429;
$red: #EF233C;
$white: #EDF2F4;
$gray: #8D99AE;
$gunmetal: #2B2D42;
$font-1: 'Cute Font', cursive;
$font-2: 'Do Hyeon', sans-serif;



@mixin nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 1%;
    margin-bottom: 2%;
    border: 5px solid $gunmetal;
    border-radius: 10px;
    background-color: $red;
    a, i, p {
        text-decoration: none;
        color: $gunmetal;
    }
    a, p {
        font-family: $font-1;
        font-size: 2.5em;
    }
    a:hover, i:hover {
        color: $white;
    }
    
}
.container {
    margin: 0 5%;

    .nav-bar {
        @include nav;
    }   
    table {
        border: 5px solid $gunmetal;
        border-radius: 5px;
        background-color: $white;
        width: 100%;
    
        tr {
            display: flex;
            justify-content: space-between;
            border: 5px solid $gunmetal;
            border-radius: 5px;
            background-color: $red;
            
            padding: 2%;
            margin: 2%;
        
            th {
                width: 33%;
                font-family: $font-1;
                color: $gunmetal;
                font-size: 3em;
            }
            td {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 33%;
                font-family: $font-2;
            }
            .action-box {
                justify-content: flex-end;
                i {
                    color: $gunmetal;
                }
                i:hover {
                    color: $white;
                }
                
            }
        }
    }
}
.new-container  {
    margin: 0 5%;
    .new-nav-bar {
        @include nav;
    }

}

form {
    border: 5px solid $gunmetal;
    border-radius: 5px;
    background-color: $white;
    padding: 2%;
    p {
        font-family: $font-1;
        font-size: 2em;
        display: flex;
        input, textarea {
            border: 5px solid $gunmetal;
            border-radius: 2px;
            background-color: $white;
            font-family: $font-2;
            width: 85%;
            margin-left: 5%;
        }
        input:focus, textarea:focus {
            outline: none;
        }
        input {
            font-size: 1em;
        }
        textarea {
            font-size: 0.5em;
            height: 200px;
        }
    }
    .submit-button input{
        width: 150px;
        height: 50px;
        margin: 0 auto;
        font-size: 0.5em;
        border: 2px solid $gunmetal;
        border-radius: 2px;
        background-color: $red;
        
    }
    .submit-button input:hover {
        background-color: $apple-red;
    }
}
.show-container {
    margin: 0 5%;
    .show-nav-bar {
        @include nav;
        
    }
    .post-container {
        border: 5px solid $gunmetal;
        border-radius: 5px;
        background-color: $white;
        padding: 2%;
        margin: 2% 0;
        strong {
            font-family: $font-1;
            font-size: 2em;
        }
        p {
            font-family: $font-2;
        }
    }
    .comments-container {
        border: 5px solid $gunmetal;
        border-radius: 5px;
        background-color: $white;
        padding: 2%;
        margin: 2% 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        strong {
            font-family: $font-1;
            font-size: 2em;
        }
        p {
            flex-grow: 2;
            font-family: $font-2;
            margin-left: 5%;
        }

        i {
            text-decoration: none;
            color: $gunmetal;
        }
        i:hover {
            color: $red;
        }
    }
}
            
